<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Pasteleria || {% block title %} {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Script con variables globales para JavaScript -->
    <script type="text/javascript">
        var user = "{{ request.user }}";

        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for(var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if(cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');

        // Manejo del carrito desde cookies
        function getCookie(name){
            let cookieArr = document.cookie.split(';');
            for (let i = 0; i < cookieArr.length; i++){
                let cookiePair = cookieArr[i].split('=');
                if(name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        var cart = JSON.parse(getCookie('cart'));
        if (cart == undefined || cart == null){
            cart = {};
            console.log('Cart created', cart);
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
                    }

        console.log('Cart:', cart);
    </script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'store' %}">Pasteleria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Home</a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0 pr-2">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'agregar' %}" class="btn btn-warning">Agregar</a></li>
                    <li><a href="{% url 'logout' %}" class="btn btn-warning">Logout</a></li>
                    <a href="#">@{{user.username}} </a>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
                        <a href="{% url 'register' %}" class="btn btn-warning">Register</a>
                    </li>
                {% endif %}
                
            </div>
            <div class="form-inline my-2 my-lg-0 pr-2">
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{ cartItems }}</p>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Tu archivo de carrito -->
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
